/* Resetting default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:#333;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 70%;
    border: 3px solid #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
position:abosolute;
top=10%;
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffd700; /* Change color to your desired hover color */
}

/* Highlight active link */
header nav ul li a:active,
header nav ul li a:focus {
    color: #ffd700; /* Change color to your desired active color */
}

.section {
    padding: 40px 0;
}

.section h2 {
    margin-bottom: 20px;
}

.section p {
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.footer-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}

footer:hover .footer-info {
    display: block;
}

.footer-info a {
    color: #fff;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}
